name: manufacturing_dashboard
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.1
  marquee: ^2.1.0
  window_manager: ^0.3.7
  
  cupertino_icons: ^1.0.6
  shared_preferences: ^2.2.0
  scroll_to_index: ^3.0.1
  
  # For making HTTP requests to the API
  http: ^1.2.1 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true


  assets:
    - assets/images/visteon_logo.png